# Model 4: 30+60+90의 평균값을 하나의 변수로, Model 2(30min)가 제일 AIC, BIC 낮게나옴

In [100]:
import pandas as pd

# 엑셀 파일 불러오기
df = pd.read_excel('/Users/bg.lim/Downloads/Texas A&M_Agrilife/Projects/1.CGM/Pilot/Datas/Preprocessing/3.within_timepoint/Timepoint_null.xlsx', engine='openpyxl')  # 파일 경로 지정
df

,StudyID,Timestamp,bored,hungry,How_happy,How_cheerful,How_relaxed,How_stressed,How_anxious,How_angry,...,CGM_90min_max,CGM_90min_cv,CGM_90_GV,CGM_90_GE_count,GE_30min_occurred,GE_60min_occurred,GE_90min_occurred,Date,Within_day,within_day_num
0,1,2022-10-06 08:11:56,0,0,0.666667,1.000000,0.666667,0.333333,0.333333,0.0,...,98,5.969966,Low,1,0,1,1,2022-10-06,1_2022-10-06,75
1,1,2022-10-06 13:37:27,0,0,0.666667,0.666667,0.333333,0.333333,0.666667,0.0,...,106,7.541038,Low,0,0,0,0,2022-10-06,1_2022-10-06,75
2,1,2022-10-06 15:39:36,0,0,1.000000,1.000000,1.000000,0.000000,0.333333,0.0,...,109,2.523722,Low,2,0,0,1,2022-10-06,1_2022-10-06,75
3,1,2022-10-06 16:28:38,0,0,1.000000,1.000000,0.666667,0.000000,0.000000,0.0,...,106,1.275994,Low,1,0,1,1,2022-10-06,1_2022-10-06,75
4,1,2022-10-06 18:23:32,0,0,1.000000,1.000000,1.000000,0.000000,0.000000,0.0,...,105,5.616072,Low,1,0,1,1,2022-10-06,1_2022-10-06,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3649,89,2023-05-08 18:58:36,0,0,1.000000,1.000000,0.666667,0.333333,0.333333,0.0,...,149,12.634415,Low,2,0,1,1,2023-05-08,89_2023-05-08,737
3650,89,2023-05-09 09:09:45,0,0,1.000000,0.666667,0.666667,0.000000,0.000000,0.0,...,132,14.644312,Low,2,0,1,1,2023-05-09,89_2023-05-09,738
3651,89,2023-05-09 11:22:51,0,1,1.000000,1.000000,0.333333,0.333333,0.000000,0.0,...,123,12.240737,Low,1,0,1,1,2023-05-09,89_2023-05-09,738
3652,89,2023-05-09 15:28:26,0,0,1.000000,0.666667,0.666667,0.000000,0.000000,0.0,...,92,5.859637,Low,1,0,0,1,2023-05-09,89_2023-05-09,738
3653,89,2023-05-09 19:16:58,0,0,1.000000,0.666667,1.000000,0.000000,0.000000,0.0,...,142,2.731137,Low,1,0,1,1,2023-05-09,89_2023-05-09,738

In [102]:
import pandas as pd
import statsmodels.formula.api as smf

In [104]:
print(df.columns)

Index(['StudyID', 'Timestamp', 'bored', 'hungry', 'How_happy', 'How_cheerful',
       'How_relaxed', 'How_stressed', 'How_anxious', 'How_angry', 'How_sad',
       'How_energetic', 'How_tired', 'How_lonely', 'DailyAvgLoneliness',
       'Weekday', 'Closest CGM Timestamp', 'Closest_CGM_Glucose',
       'CGM_30min_mean', 'CGM_30min_sd', 'CGM_30min_max', 'CGM_30min_cv',
       'CGM_30_GV', 'CGM_30_GE_count', 'CGM_60min_mean', 'CGM_60min_sd',
       'CGM_60min_max', 'CGM_60min_cv', 'CGM_60_GV', 'CGM_60_GE_count',
       'CGM_90min_mean', 'CGM_90min_sd', 'CGM_90min_max', 'CGM_90min_cv',
       'CGM_90_GV', 'CGM_90_GE_count', 'GE_30min_occurred',
       'GE_60min_occurred', 'GE_90min_occurred', 'Date', 'Within_day',
       'within_day_num'],
      dtype='object')

In [106]:
df['CGM_combined_mean'] = df[['CGM_30min_mean', 'CGM_60min_mean', 'CGM_90min_mean']].mean(axis=1)

In [108]:
df

,StudyID,Timestamp,bored,hungry,How_happy,How_cheerful,How_relaxed,How_stressed,How_anxious,How_angry,...,CGM_90min_cv,CGM_90_GV,CGM_90_GE_count,GE_30min_occurred,GE_60min_occurred,GE_90min_occurred,Date,Within_day,within_day_num,CGM_combined_mean
0,1,2022-10-06 08:11:56,0,0,0.666667,1.000000,0.666667,0.333333,0.333333,0.0,...,5.969966,Low,1,0,1,1,2022-10-06,1_2022-10-06,75,89.000000
1,1,2022-10-06 13:37:27,0,0,0.666667,0.666667,0.333333,0.333333,0.666667,0.0,...,7.541038,Low,0,0,0,0,2022-10-06,1_2022-10-06,75,96.083333
2,1,2022-10-06 15:39:36,0,0,1.000000,1.000000,1.000000,0.000000,0.333333,0.0,...,2.523722,Low,2,0,0,1,2022-10-06,1_2022-10-06,75,106.527778
3,1,2022-10-06 16:28:38,0,0,1.000000,1.000000,0.666667,0.000000,0.000000,0.0,...,1.275994,Low,1,0,1,1,2022-10-06,1_2022-10-06,75,104.305556
4,1,2022-10-06 18:23:32,0,0,1.000000,1.000000,1.000000,0.000000,0.000000,0.0,...,5.616072,Low,1,0,1,1,2022-10-06,1_2022-10-06,75,97.111111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3649,89,2023-05-08 18:58:36,0,0,1.000000,1.000000,0.666667,0.333333,0.333333,0.0,...,12.634415,Low,2,0,1,1,2023-05-08,89_2023-05-08,737,121.638889
3650,89,2023-05-09 09:09:45,0,0,1.000000,0.666667,0.666667,0.000000,0.000000,0.0,...,14.644312,Low,2,0,1,1,2023-05-09,89_2023-05-09,738,102.861111
3651,89,2023-05-09 11:22:51,0,1,1.000000,1.000000,0.333333,0.333333,0.000000,0.0,...,12.240737,Low,1,0,1,1,2023-05-09,89_2023-05-09,738,95.055556
3652,89,2023-05-09 15:28:26,0,0,1.000000,0.666667,0.666667,0.000000,0.000000,0.0,...,5.859637,Low,1,0,0,1,2023-05-09,89_2023-05-09,738,85.166667
3653,89,2023-05-09 19:16:58,0,0,1.000000,0.666667,1.000000,0.000000,0.000000,0.0,...,2.731137,Low,1,0,1,1,2023-05-09,89_2023-05-09,738,137.666667

In [112]:
# Step 6: 확인 (정리된 데이터)
print(df[['StudyID', 'Date', 'within_day_num', 'CGM_combined_mean']].head())

   StudyID       Date  within_day_num  CGM_combined_mean
0        1 2022-10-06              75          89.000000
1        1 2022-10-06              75          96.083333
2        1 2022-10-06              75         106.527778
3        1 2022-10-06              75         104.305556
4        1 2022-10-06              75          97.111111

In [114]:
# Step 7: 혼합효과 선형모델 실행 (CGM_combined_mean를 종속변수로 사용)
model = smf.mixedlm(
    "CGM_combined_mean ~ hungry + bored + How_angry + DailyAvgLoneliness + How_sad + How_tired",
    data=df,
    groups=df["within_day_num"]  # 같은 날 그룹화된 데이터를 랜덤 효과로 사용
)

# Step 8: 모델 적합 및 결과 출력
result = model.fit()
print(result.summary())

# Step 9: AIC와 BIC 출력
print(f"AIC: {result.aic}")
print(f"BIC: {result.bic}")

             Mixed Linear Model Regression Results
================================================================
Model:             MixedLM Dependent Variable: CGM_combined_mean
No. Observations:  3654    Method:             REML
No. Groups:        755     Scale:              233.4169
Min. group size:   1       Log-Likelihood:     -15646.8796
Max. group size:   6       Converged:          Yes
Mean group size:   4.8
----------------------------------------------------------------
                    Coef.  Std.Err.    z    P>|z| [0.025  0.975]
----------------------------------------------------------------
Intercept          100.423    0.661 151.962 0.000 99.128 101.718
hungry              -4.449    0.633  -7.025 0.000 -5.691  -3.208
bored                2.072    1.015   2.041 0.041  0.082   4.061
How_angry            1.921    2.621   0.733 0.463 -3.215   7.058
DailyAvgLoneliness  -1.746    2.442  -0.715 0.475 -6.533   3.040
How_sad              2.783    2.307   1.206 0.228 -1.740   7.305
How_tired            1.690    1.285   1.315 0.188 -0.828   4.208
Group Var          142.811    0.726
================================================================

AIC: nan
BIC: nan

In [120]:
import os
# 저장할 폴더와 파일 경로
folder_path = '/Users/bg.lim/Downloads/Texas A&M_Agrilife/Projects/1.CGM/Pilot/Datas/Preprocessing/4.Aver(30_60_90)'
file_path = os.path.join(folder_path, 'Model4.xlsx')

# 폴더 생성 및 엑셀 저장
os.makedirs(folder_path, exist_ok=True)  # 폴더가 없으면 생성
df.to_excel(file_path, index=False, engine='openpyxl')